@use '../../../styles.scss' as g;

.container {
  margin: 2% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 25rem;
}

h2 {
  margin: 1.2rem auto;
  font-family: g.$title-font-family;
  font-size: 2rem;

  &::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: g.$subtitles;
    margin: 0;
  }
}
