@use '../../../styles.scss' as g;

.container {
  display: flex;
  justify-content: center;
  width: 100%;

  & .meal-details {
    max-width: 60%;
    margin: 3% 0;

    & .list {
      list-style: none;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;

      & .measure {
        color: g.$subtitles;
        font-weight: 500;
      }

      & li::before {
        background-image: url('../../../assets/icons/egg.svg');
        background-size: 10px 10px;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        content:"";
      }
    }

    & h2 {
      font-family: g.$title-font-family;
      font-size: 2rem;

      &::after {
        content: '';
        display: block;
        width: 80px;
        height: 3px;
        background: g.$subtitles;
        margin: 0;
      }
    }

    & .list {
      text-transform: capitalize;
    }
  }

  & img {
    margin: 3% auto;
    display: block;
    border: 5px solid g.$primary;
    max-width: 100%;
  }
}

.subtitle {
  font-family: g.$title-font-family;
  font-size: 1.2rem;
  color: g.$subtitles;
}

@media screen and (max-width: 767px) {
  .container .meal-details{
    max-width: 100%;
  }
}
