@use '../styles.scss' as g;

.title {
  display: flex;
  justify-content: space-between;
  font-family: g.$title-font-family;
}

.navbar-mobile {
  display: none;
}

.navbar-desktop {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 767px) {
  .navbar-desktop, .food-home-button {
    display: none;
  }

  .navbar-mobile {
    display: inline-block;
  }
}
