.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;

  & img {
    max-width: 350px;
  }

  & .paragraphs {
    max-width: 500px;
    text-align: justify;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}
