<div class="page-title">
  <h2>Welcome to Pick-A-Meal!</h2>
</div>
<section class="container">
  <img src="../../../assets/images/meal.png" alt="image of a breakfeast"/>
  <div class="paragraphs">
    <p class="text">Welcome to pick-a-meal recipe website, your ultimate destination for delicious and diverse culinary inspirations. Whether you're a seasoned chef or an aspiring home cook, we've got you covered with an extensive collection of mouthwatering recipes from around the world. Explore our vast database of recipes, carefully curated to suit various dietary preferences and cooking skill levels. From quick and easy weekday meals to impressive gourmet creations, our website is designed to ignite your passion for cooking and help you create memorable dining experiences.</p>
    <p class="text">At our recipe website, we believe that cooking should be a joyful and creative experience. Our mission is to empower you with the knowledge, techniques, and inspiration needed to embark on exciting culinary adventures. Browse through our well-organized categories, including appetizers, main courses, desserts, and more, to discover recipes that cater to your specific tastes and dietary requirements. With detailed step-by-step instructions, accompanied by beautiful visuals, you'll feel confident in the kitchen and ready to take on any recipe challenge.</p>
  </div>
</section>
