<div class="center">
  <h2>Meals</h2>
</div>
<form class="search" (ngSubmit)="search()">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput
      type="text"
      [(ngModel)]="searchMeal"
      name="searchMeal"
      placeholder="Search for a meal">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
<div class="container">
  <app-loading-spinner *ngIf="loading; else mealContent"></app-loading-spinner>
  <ng-template #mealContent>
    <ng-container *ngIf="content; else message">
      <app-meal-card *ngFor="let meal of data" [meal]="meal" class="card"/>
    </ng-container>
    <ng-template #message>
      <p>No recipe could be found</p>
    </ng-template>
  </ng-template>
</div>


