@import '@angular/material/theming';

/***************** scss global variables **************************/

$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);

$primary: mat-color($app-primary, 100);
$subtitles: mat-color($app-primary, 500);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$title-font-family: 'Poppins', sans-serif;

/*******************************************************************/

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  flex: 1;
  align-self: center;
  width: 92%;
  display: flex;
  justify-content: center;
}

footer {
  background: $primary;
  height: 100px;
}

mat-card {
  cursor: pointer;
}

.custom-spinner circle{
  stroke: $subtitles !important;
}

app-meal-details {
  align-self: center;
}

app-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;

  & h2 {
    font-family: $title-font-family;
    font-size: 2rem;
    align-self: center;

    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 3px;
      background: $subtitles;
      margin: 0;
    }
  }
}

.text {
  text-align: justify;
  width: 90%;
  margin: auto;

  &::first-letter {
    font-size: 1.2rem;
    font-weight: 600;
    color: $subtitles;
  }
}
