@import '@angular/material/theming';

/***************** scss global variables **************************/

$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);

$primary: mat-color($app-primary, 100);
$subtitles: mat-color($app-primary, 500);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$title-font-family: 'Poppins', sans-serif;

/*******************************************************************/

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background: $primary;
  height: 100px;
}

mat-card {
  cursor: pointer;
}

